{% set
list = [
	{
		img: 'http://via.placeholder.com/180x270',
		title: 'Neutal Networks And For Deep Learning',
		photo: 'http://via.placeholder.com/30x30',
		name: 'Anthony',
		fullname: 'Leath',
		price: '$100'
	},
	{
		img: 'http://via.placeholder.com/180x270',
		title: 'Neutal Networks And For Deep Learning',
		photo: 'http://via.placeholder.com/30x30',
		name: 'Anthony',
		fullname: 'Leath',
		price: '$100'
	},
	{
		img: 'http://via.placeholder.com/180x270',
		title: 'Neutal Networks And For Deep Learning',
		photo: 'http://via.placeholder.com/30x30',
		name: 'Anthony',
		fullname: 'Leath',
		price: '$100'
	},
	{
		img: 'http://via.placeholder.com/180x270',
		title: 'Neutal Networks And For Deep Learning',
		photo: 'http://via.placeholder.com/30x30',
		name: 'Anthony',
		fullname: 'Leath',
		price: '$100'
	},
	{
		img: 'http://via.placeholder.com/180x270',
		title: 'Neutal Networks And For Deep Learning',
		photo: 'http://via.placeholder.com/30x30',
		name: 'Anthony',
		fullname: 'Leath',
		price: '$100'
	},
	{
		img: 'http://via.placeholder.com/180x270',
		title: 'Neutal Networks And For Deep Learning',
		photo: 'http://via.placeholder.com/30x30',
		name: 'Anthony',
		fullname: 'Leath',
		price: '$100'
	},
	{
		img: 'http://via.placeholder.com/180x270',
		title: 'Neutal Networks And For Deep Learning',
		photo: 'http://via.placeholder.com/30x30',
		name: 'Anthony',
		fullname: 'Leath',
		price: '$100'
	},
	{
		img: 'http://via.placeholder.com/180x270',
		title: 'Neutal Networks And For Deep Learning',
		photo: 'http://via.placeholder.com/30x30',
		name: 'Anthony',
		fullname: 'Leath',
		price: '$100'
	},
	{
		img: 'http://via.placeholder.com/180x270',
		title: 'Neutal Networks And For Deep Learning',
		photo: 'http://via.placeholder.com/30x30',
		name: 'Anthony',
		fullname: 'Leath',
		price: '$100'
	},
	{
		img: 'http://via.placeholder.com/180x270',
		title: 'Neutal Networks And For Deep Learning',
		photo: 'http://via.placeholder.com/30x30',
		name: 'Anthony',
		fullname: 'Leath',
		price: '$100'
	},
	{
		img: 'http://via.placeholder.com/180x270',
		title: 'Neutal Networks And For Deep Learning',
		photo: 'http://via.placeholder.com/30x30',
		name: 'Anthony',
		fullname: 'Leath',
		price: '$100'
	},
	{
		img: 'http://via.placeholder.com/180x270',
		title: 'Neutal Networks And For Deep Learning',
		photo: 'http://via.placeholder.com/30x30',
		name: 'Anthony',
		fullname: 'Leath',
		price: '$100'
	},
	{
		img: 'http://via.placeholder.com/180x270',
		title: 'Neutal Networks And For Deep Learning',
		photo: 'http://via.placeholder.com/30x30',
		name: 'Anthony',
		fullname: 'Leath',
		price: '$100'
	},
	{
		img: 'http://via.placeholder.com/180x270',
		title: 'Neutal Networks And For Deep Learning',
		photo: 'http://via.placeholder.com/30x30',
		name: 'Anthony',
		fullname: 'Leath',
		price: '$100'
	},
	{
		img: 'http://via.placeholder.com/180x270',
		title: 'Neutal Networks And For Deep Learning',
		photo: 'http://via.placeholder.com/30x30',
		name: 'Anthony',
		fullname: 'Leath',
		price: '$100'
	},
	{
		img: 'http://via.placeholder.com/180x270',
		title: 'Neutal Networks And For Deep Learning',
		photo: 'http://via.placeholder.com/30x30',
		name: 'Anthony',
		fullname: 'Leath',
		price: '$100'
	},
	{
		img: 'http://via.placeholder.com/180x270',
		title: 'Neutal Networks And For Deep Learning',
		photo: 'http://via.placeholder.com/30x30',
		name: 'Anthony',
		fullname: 'Leath',
		price: '$100'
	},
	{
		img: 'http://via.placeholder.com/180x270',
		title: 'Neutal Networks And For Deep Learning',
		photo: 'http://via.placeholder.com/30x30',
		name: 'Anthony',
		fullname: 'Leath',
		price: '$100'
	},
	{
		img: 'http://via.placeholder.com/180x270',
		title: 'Neutal Networks And For Deep Learning',
		photo: 'http://via.placeholder.com/30x30',
		name: 'Anthony',
		fullname: 'Leath',
		price: '$100'
	},
	{
		img: 'http://via.placeholder.com/180x270',
		title: 'Neutal Networks And For Deep Learning',
		photo: 'http://via.placeholder.com/30x30',
		name: 'Anthony',
		fullname: 'Leath',
		price: '$100'
	},
	{
		img: 'http://via.placeholder.com/180x270',
		title: 'Neutal Networks And For Deep Learning',
		photo: 'http://via.placeholder.com/30x30',
		name: 'Anthony',
		fullname: 'Leath',
		price: '$100'
	},
	{
		img: 'http://via.placeholder.com/180x270',
		title: 'Neutal Networks And For Deep Learning',
		photo: 'http://via.placeholder.com/30x30',
		name: 'Anthony',
		fullname: 'Leath',
		price: '$100'
	},
	{
		img: 'http://via.placeholder.com/180x270',
		title: 'Neutal Networks And For Deep Learning',
		photo: 'http://via.placeholder.com/30x30',
		name: 'Anthony',
		fullname: 'Leath',
		price: '$100'
	},
	{
		img: 'http://via.placeholder.com/180x270',
		title: 'Neutal Networks And For Deep Learning',
		photo: 'http://via.placeholder.com/30x30',
		name: 'Anthony',
		fullname: 'Leath',
		price: '$100'
	}
]
%}

<!-- begin filter -->
<div class="filter">
	<div class="filter__inner inner">
		<div class="filter__top-line">
			<div class="filter__title">Active fillters</div>
			<div class="filter__result">
				<span class="result__label">Result:</span>
				<span class="result__value">980 matches</span>
			</div>
		</div>
		
		<div class="filter__list-buttons list-buttons">
			<div class="item-button">
				<span class="item-button__text-border">Default</span>
			</div>
			<div class="item-button">
				<span class="item-button__close">{{mixins.icon('close')}}</span>
				<span class="item-button__text">Default</span>
			</div>
			<div class="item-button">
				<span class="item-button__close">{{mixins.icon('close')}}</span>
				<span class="item-button__text">Default</span>
			</div>
			<div class="item-button">
				<span class="item-button__close">{{mixins.icon('close')}}</span>
				<span class="item-button__text">Default</span>
			</div>
		</div>
		<div class="filter__tabs">
			<div class="row">
				<div class="col">
					<div class="select js-dropdown">
						<div class="select__line js-dropdown-btn">
							<div class="select__value">Topics</div>
							<div class="select__arrow">{{mixins.icon('arrow')}}</div>
						</div>
						<div class="select__block">
							<div class="select__title">Topics
							</div>
							<div class="select__list">
								<div class="select__item">
									<div class="checkbox">
										<input type="checkbox" class="checkbox__field" id="programming">
										<label for="programming" class="checkbox__label">Programming</label>
									</div>
									<span class="checkbox__number">125</span>
								</div>
								<div class="select__item">
									<div class="checkbox">
										<input type="checkbox" class="checkbox__field" id="desing">
										<label for="desing" class="checkbox__label">Desing</label>
									</div>
									<span class="checkbox__number">125</span>
								</div>
								<div class="select__item">
									<div class="checkbox">
										<input type="checkbox" class="checkbox__field" id="development">
										<label for="development" class="checkbox__label">Web development</label>
									</div>
									<span class="checkbox__number">125</span>
								</div>
								<div class="select__item">
									<div class="checkbox">
										<input type="checkbox" class="checkbox__field" id="moblie">
										<label for="moblie" class="checkbox__label">Moblie app</label>
									</div>
									<span class="checkbox__number">125</span>
								</div>
								<div class="select__item">
									<div class="checkbox">
										<input type="checkbox" class="checkbox__field" id="proccess">
										<label for="proccess" class="checkbox__label">Proccess</label>
									</div>
									<span class="checkbox__number">125</span>
								</div>
							</div>										
						</div>
					</div>
				</div>
				<div class="col">
					<div class="select js-dropdown">
						<div class="select__line js-dropdown-btn">
							<div class="select__value">Skill level</div>
							<div class="select__arrow">{{mixins.icon('arrow')}}</div>
						</div>
						<div class="select__block">
							<div class="select__item js-select-value">Advanced</div>
						</div>
					</div>
				</div>	
				<div class="col">
					<div class="select js-dropdown">
						<div class="select__line js-dropdown-btn">
							<div class="select__value">Course languages</div>
							<div class="select__arrow">{{mixins.icon('arrow')}}</div>
						</div>
						<div class="select__block">
							<div class="select__item js-select-value">English</div>
						</div>
					</div>
				</div>	
				<div class="col">
					<div class="select js-dropdown">
						<div class="select__line js-dropdown-btn">
							<div class="select__value">Duration</div>
							<div class="select__arrow">{{mixins.icon('arrow')}}</div>
						</div>
						<div class="select__block">
							<div class="select__item js-select-value">1</div>							
						</div>
					</div>
				</div>	
				<div class="col">
					<div class="select js-dropdown">
						<div class="select__line js-dropdown-btn">
							<div class="select__value">Skill level</div>
							<div class="select__arrow">{{mixins.icon('arrow')}}</div>
						</div>
						<div class="select__block">
							<div class="select__item js-select-value">Advanced</div>							
						</div>
					</div>
				</div>	
				<div class="col">
					<div class="select js-dropdown">
						<div class="select__line js-dropdown-btn">
							<div class="select__value">Feature</div>
							<div class="select__arrow">{{mixins.icon('arrow')}}</div>
						</div>
						<div class="select__block">
							<div class="select__item js-select-value">1</div>
						</div>									
					</div>
				</div>	
				<div class="col">
					<div class="select js-dropdown">
						<div class="select__line js-dropdown-btn">
							<div class="select__value">Collaboration</div>
							<div class="select__arrow">{{mixins.icon('arrow')}}</div>
						</div>
						<div class="select__block">
							<div class="select__item js-select-value">1</div>						
						</div>
					</div>
				</div>	
			</div>
		</div>
		
		<div class="filter__tabs-line tabs-line">
			<ul class="tabs-line__list">
				<li class="tabs-line__item">
					<a href="#" class="tabs-line__link is-active">Course</a>
				</li>
				<li class="tabs-line__item">
					<a href="#" class="tabs-line__link">Course</a>
				</li>
				<li class="tabs-line__item">
					<a href="#" class="tabs-line__link">Course</a>
				</li>
				<li class="tabs-line__item">
					<a href="#" class="tabs-line__link">Course</a>
				</li>
				<li class="tabs-line__item">
					<a href="#" class="tabs-line__link">Course</a>
				</li>
			</ul>
			<div class="tabs-line__sort sort">
				<div class="sort__text">Sort by:</div>
				<div class="sort__dropdown dropdown-sort js-dropdown-sort">
					<div class="dropdown-sort__btn js-dropdown-sort-btn">
						<span class="dropdown-sort__text">None</span>
						<span class="dropdown-sort__icon">{{mixins.icon('arrow')}}</span>
					</div>
					<ul class="dropdown-sort__list">
						<li class="dropdown-sort__item js-value">Price</li>
						<li class="dropdown-sort__item js-value">Name</li>
					</ul>
				</div>
				<div class="sort__icon">{{mixins.icon('list')}}</div>
				<div class="sort__icon">{{mixins.icon('grid')}}</div>		
			</div>
		</div>

		<div class="filter__courses courses">
			<div class="courses__gallery">
				{% for item in list %}
				<div class="courses__item">
					<div class="courses__wrap">
						<div class="courses__top">
							<div class="courses__img" style="background-image: url({{ item.img }});">
							</div>
							<div class="courses__line-top">Best seller</div>
							<div class="courses__line-bottom">Bundle</div>	
						</div>	
						
						<div class="courses__description">
							<a href="#" class="courses__title">
								{{ item.title }}
							</a>
							<a href="#" class="courses__teacher">
								<span class="courses__teacher-photo" style="background-image: url({{ item.photo }});"></span>
								<span class="coursess__teacher-name">{{ item.name }} <br> {{ item.fullname }}</span>
							</a>
							<div class="courses__info info">
								<div class="info__list">
									<div class="info__item">
										<span class="info__icon">{{mixins.icon('heart')}}</span>
										<span class="info__number">349</span>
									</div>
									<div class="info__item">
										<span class="info__icon">{{mixins.icon('user')}}</span>
										<span class="info__number">2678</span>
									</div>
								</div>
								<div class="info__price">{{ item.price }}</div>
							</div>
						</div>
					</div>		
				</div>
				{% endfor %}
			</div>	
		</div>
			
	</div>
</div>
<!-- end filter -->