<!-- begin footer -->
<footer class="footer">
	<div class="footer__inner inner">
		<div class="footer__top">
			<div class="footer__left">
				<div class="footer__logo">
					<a href="#" class="logo">
						<span class="logo__img">
							<img src="img/footer-logo.png" alt="logo">
						</span>				
						<span class="logo__title">Edu</span>
						<span class="logo__title-dark">cef</span>
					</a>
					<div class="footer__info">Education, Ins.<br> 3601 Seneca Street, New York Citi<br> NY 10010, USA</div>
					<div class="footer__icons">
						<a href="#" class="footer__icon">{{mixins.icon('in')}}</a>
						<a href="#" class="footer__icon">{{mixins.icon('facebook')}}</a>
						<a href="#" class="footer__icon">{{mixins.icon('twitter')}}</a>
						<a href="#" class="footer__icon">{{mixins.icon('google-plus')}}</a>
						<a href="#" class="footer__icon">{{mixins.icon('youtube')}}</a>
						<a href="#" class="footer__icon">{{mixins.icon('in')}}</a>
					</div>
				</div>
			</div>
			<div class="footer__right">
				<div class="footer__row">
					<div class="footer__col">
						<div class="footer__title">System</div>
						<ul class="footer__list">
							<li class="footer__item">
								<a href="#" class="footer__link">Help center</a>
							</li>
							<li class="footer__item">
								<a href="#" class="footer__link">Support forum</a>
							</li>
							<li class="footer__item">
								<a href="#" class="footer__link">Affiliate</a>
							</li>
							<li class="footer__item">
								<a href="#" class="footer__link">Explore</a>
							</li>
							<li class="footer__item">
								<a href="#" class="footer__link">Pricing</a>
							</li>
						</ul>
					</div>
					<div class="footer__col">
						<div class="footer__title">More</div>
						<ul class="footer__list">
							<li class="footer__item">
								<a href="#" class="footer__link">About us</a>
							</li>
							<li class="footer__item">
								<a href="#" class="footer__link">Blog</a>
							</li>
							<li class="footer__item">
								<a href="#" class="footer__link">Service</a>
							</li>
							<li class="footer__item">
								<a href="#" class="footer__link">Sing in</a>
							</li>
							<li class="footer__item">
								<a href="#" class="footer__link">Sing up</a>
							</li>
						</ul>
					</div>
					<div class="footer__col">
						<div class="footer__title">Get in touch</div>
						<ul class="footer__list">
							<li class="footer__item">
								<a href="#" class="footer__link">Contact us if you need help with anything</a>
							</li>
						</ul>
						<a href="tel:(+01) 2675286897" class="footer__phone">(+01) 2675286897</a>
						<a href="tel:(+01) 2120286473" class="footer__phone">(+01) 2120286473</a>
						<a href="mailto:help@rubiktthemes.com" class="footer__email">help@rubiktthemes.com</a>
					</div>
				</div>
			</div>
		</div>
		<div class="footer__bottom">
			<p class="footer__copyright">
				2018 Rubikthemes, all right reserved.
			</p>
		</div>
	</div>
</footer>
<!-- end footer -->